Repository Computerization/computerization.github.io, pull requests merged in 2020-09, with the labels that each got.

#176 Fixed compilation error
  docs/docusaurus/doc1.md
  docusaurus.config.js
Labels: bug

#174 Added a real blog post
  blog/2019-05-28-hola.md
  blog/2019-05-29-hello-world.md
  blog/2019-05-30-welcome.md
  blog/2020-09-02-welcome.md
Labels: blog

#187 Added a new blogpost
  blog/2020-09-23-git-usage.md
  yarn.lock
Labels: blog

#193 Support dark mode for alumni page & Update Ye's info
  src/components/AlumniTimeline.module.css
  src/components/MemberCard.module.css
  src/data/alumniData.tsx
Labels: alumni, enhancement

#195 Remove id header & add truncate
  blog/2020-09-02-welcome.md
  blog/2020-09-23-git-usage.md
Labels: blog
